<div class="pt-14 min-h-screen bg-gradient-subtle">
  <main class="container mx-auto px-4 lg:px-8 py-8">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4 mb-8">
      <div>
        <h1 class="text-4xl font-bold text-foreground mb-2">Players</h1>
        <p class="text-muted-foreground">Manage the roster of Emcali´s basketball team</p>
      </div>
      <button
        appAuth
        (click)="isOpen.set(true)"
        type="button"
        class="px-6 py-3 bg-primary/90 text-primary-foreground rounded-lg font-semibold hover:opacity-90 transition-all duration-200 shadow-glow hover:scale-105 cursor-pointer"
      >
        + Agregar Jugador
      </button>
    </div>

    <!-- Stats Cards -->
    <div class="grid grid-cols-2 gap-4 mb-8">
      @if (players.data()) {
      <app-card title="Total players" [content]="players.data()?.total"></app-card>
      } @else if (players.isLoading()) {
      <div class="h-[114px] w-full rounded-xl bg-card animate-pulse"></div>
      } @else if (players.isLoading()) {
      <p class="text-xl text-white font-semibold">{{ players.error() }}</p>
      }
    </div>

    <!-- Players Grid  -->

    @if (players.data(); as data) {
    <div
      (scrolled)="players.fetchNextPage()"
      [infiniteScrollDisabled]="!players.hasNextPage()"
      infinite-scroll
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      @for (player of data.pages; track player.id) {
      <app-player-card [player]="player"></app-player-card>
      } @if (players.isFetchingNextPage()) {
      <p class="text-center text-sm text-accent-foreground font-normal">Cargando...</p>
      }
    </div>

    } @else if (players.isLoading()) {
    <div class="h-[150px] w-full rounded-xl bg-card animate-pulse"></div>
    } @else if (players.isError()) {
    <p class="text-xl text-white font-semibold">{{ players.error() }}</p>
    }
  </main>
</div>

<app-modal [(isOpen)]="isOpen">
  <!-- <app-add-player-modal /> -->
  <app-edit-player-modal />
</app-modal>
