 <nav class="z-50 fixed inset-x-0 bg-card border-b border-border shadow-card">
    <div class="container mx-auto px-4 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div
          [routerLink]="['/']"
          class="flex items-center gap-3 cursor-pointer">
          <div class="flex items-center gap-2">
            <div class=" w-10 h-10 items-center justify-center flex">
                <img
                  class=""
                  src="https://portalemcali.onrender.com/favicon.ico" alt="logo Emcali"/>
            </div>
            <div>
              <h1 class="max-md:hidden text-xl font-bold text-foreground">Emcali Team Manager</h1>
              <h1 class="md:hidden text-xl font-bold text-foreground">ETM</h1>
              <p class="text-xs text-muted-foreground">V1</p>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-1 ">
          @for( button of dataSourceButtons; track button.path ) {
            <app-button-header
              [text]="button.buttonText"
              [path]="button.path"
            />
          }
          <app-login-button />
        </div>
      </div>
    </div>
  </nav>
  <main class="">
    <router-outlet></router-outlet>
  </main>
