<div
  class="overflow-y-auto overflow-x-hidden fixed flex justify-center z-50 inset-0 items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <!-- Contenido del diálogo -->
  <div class="dialog-content sm:max-w-[500px] bg-card rounded-lg shadow-lg p-6 mt-4">
    <!-- Header -->
    <header class="dialog-header mb-4">
      <h2 id="dialog-title" class="text-lg text-accent-foreground font-semibold">
        Add new players
      </h2>
      <p id="dialog-desc" class="text-sm text-muted-foreground">
        Complete all the information to add a new player successfully
      </p>
    </header>

    <!-- Formulario (estático) -->
    <form [formGroup]="group" (ngSubmit)="handleAddPlayer()" class="space-y-4 mt-4">
      <div class="grid grid-cols-2 gap-4">
        <div class="space-y-2">
          <label for="name" class="block text-accent-foreground text-sm font-medium">Name</label>
          <input
            formControlName="name"
            minlength="2"
            maxlength="15"
            id="name"
            name="name"
            type="text"
            placeholder="Enter name"
            class="input px-3 py-2 border rounded-lg w-full"
            value=""
          />
        </div>

        <div class="space-y-2">
          <label for="last_name" class="block text-accent-foreground text-sm font-medium"
            >Last name</label
          >
          <input
            formControlName="last_name"
            minlength="2"
            maxlength="15"
            id="last_name"
            name="last_name"
            type="text"
            placeholder="Enter last name"
            class="input px-3 py-2 border rounded-lg w-full"
            value=""
          />
        </div>
      </div>

      <div class="space-y-2">
        <label for="birthDate" class="block text-accent-foreground text-sm font-medium"
          >Birth Date</label
        >
        <input
          formControlName="birth_date"
          id="birthDate"
          name="birthDate"
          type="date"
          class="input px-3 py-2 border rounded-lg w-full"
          value=""
        />
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="space-y-2">
          <label for="number" class="block text-accent-foreground text-sm font-medium"
            >Number</label
          >
          <input
            formControlName="number"
            id="number"
            name="number"
            type="number"
            placeholder="Enter a number(0-99)"
            min="0"
            max="99"
            class="input px-3 py-2 border rounded-lg w-full"
            value=""
          />
        </div>

        <div class="space-y-2">
          <label for="position" class="block text-accent-foreground text-sm font-medium"
            >Position</label
          >
          <select
            formControlName="position"
            id="position"
            name="position"
            class="select px-3 py-2 border rounded-lg w-full"
            aria-placeholder="Seleccionar"
          >
            <option value="">Select</option>
            <option value="g">Guard</option>
            <option value="pf">Power Forward</option>
            <option value="f">Forward</option>
          </select>
        </div>
      </div>

      <!-- Acciones -->
      <div class="flex justify-end gap-3 pt-4">
        <button
          (click)="closeModal()"
          type="button"
          class="px-4 py-2 border text-foreground border-border rounded-lg hover:bg-red-600 transition-colors cursor-pointer"
        >
          Cancelar
        </button>
        <button
          [disabled]="group.invalid"
          type="submit"
          class="px-4 py-2 border text-foreground border-border rounded-lg hover:bg-primary transition-colors cursor-pointer"
        >
          Agregar Jugador
        </button>
      </div>
    </form>
  </div>
</div>
