<div class="pt-14 min-h-screen bg-gradient-subtle">
      <main class="container mx-auto px-4 lg:px-8 py-8">
        <!-- Header -->
        <div class="flex justify-between items-center mb-8">
          <div>
            <h1 class="text-4xl font-bold text-foreground mb-2 flex items-center gap-3">Games</h1>
            <p class="text-muted-foreground">Check and manage every game of the team</p>
          </div>
        </div>

        <!-- Stats Summary -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
          @if (stats.data(); as stats) {
            <app-card title="Total Games" [content]="stats.total" />
            <app-card title="Total Wins" [content]="stats.won" />
            <app-card title="Total Losses" [content]="stats.lost" />
            <app-card title="Average Points per Game" [content]="stats.average_points" />
          } @else if (stats.isLoading()) {
            <div class="h-[114px] w-full rounded-xl bg-card animate-pulse"></div>
            <div class="h-[114px] w-full rounded-xl bg-card animate-pulse"></div>
            <div class="h-[114px] w-full rounded-xl bg-card animate-pulse"></div>
            <div class="h-[114px] w-full rounded-xl bg-card animate-pulse"></div>
          } @else if (stats.isError()) {
            <p class="text-xl text-white font-semibold">{{ stats.error() }}</p>
          }
        </div>

        <!-- Upcoming Games -->
         @if (upcomingGames().length > 0) {
           <div class="mb-8" >
             <h2 class="text-2xl font-bold text-foreground mb-4">Upcoming games</h2>
             <div class="flex flex-col gap-4">
              @for (game of upcomingGames(); track game.id) {
                <app-game-card [game]="game"></app-game-card>
              }
             </div>
           </div>
         }

        <!-- Completed Games -->
        <div>
          <h2 class="text-2xl font-bold text-foreground mb-4">Game history</h2>
          @if (games.data(); as data) {
            <div
              (scrolled)="games.fetchNextPage()"
              [infiniteScrollDisabled]="!games.hasNextPage()"
              infinite-scroll
              class="flex flex-col gap-6"
            >
              @for (game of completedGames(); track game.id) {
                <app-game-card [game]="game"></app-game-card>
              }
            </div>
            } @else if (games.isLoading()) {
              <div class="flex flex-col gap-6">
                <div class="h-[150px] w-full rounded-xl bg-card animate-pulse"></div>
                <div class="h-[150px] w-full rounded-xl bg-card animate-pulse"></div>
                <div class="h-[150px] w-full rounded-xl bg-card animate-pulse"></div>
                <div class="h-[150px] w-full rounded-xl bg-card animate-pulse"></div>
              </div>
            } @else if (games.isError()) {
              <p class="text-xl text-white font-semibold">{{ games.error() }}</p>
            }
        </div>
      </main>
    </div>
