<div
  class="overflow-y-auto overflow-x-hidden fixed flex justify-center z-50 inset-0 items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <!-- Contenido del diálogo -->
  <div class="dialog-content sm:max-w-[500px] bg-card rounded-lg shadow-lg p-6 mt-4">
    <!-- Header -->
    @let headers = this.headers();
    <header class="dialog-header mb-4">
      <h2 id="dialog-title" class="text-lg text-accent-foreground font-semibold">
        {{ headers.title }}
      </h2>
      <p id="dialog-desc" class="text-sm text-muted-foreground">
        {{ headers.message }}
      </p>
    </header>

    <!-- Formulario (estático) -->
    <form  [formGroup]="group" (ngSubmit)="handleEditPlayer()" class="space-y-4 mt-4">
      <div class="grid grid-cols-2 gap-4">
        <div class="space-y-2">
          <label for="name" class=" block text-accent-foreground text-sm font-medium">Name</label>
          <input
            appInput
            formControlName="name"
            id="name"
            name="name"
            type="text"
            placeholder="Enter name"
          />
        </div>

        <div class="space-y-2">
          <label for="last_name" class="block text-accent-foreground text-sm font-medium"
            >Last name</label
          >
          <input
            appInput
            formControlName="last_name"
            id="last_name"
            name="last_name"
            type="text"
            placeholder="Enter last name"
          />
        </div>
      </div>

      <div class="space-y-2">
        <label for="birthDate" class="block text-accent-foreground text-sm font-medium"
          >Birth Date</label
        >
        <input
          formControlName="birth_date"
          id="birthDate"
          name="birthDate"
          type="date"
          appInput
        />
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="space-y-2">
          <label for="number" class="block text-accent-foreground text-sm font-medium"
            >Number</label
          >
          <input
            appInput
            formControlName="number"
            id="number"
            name="number"
            type="number"
            placeholder="Enter a number(0-99)"
          />
        </div>

        <div class="space-y-2">
          <label for="position" class="block text-accent-foreground text-sm font-medium"
            >Position</label
          >
          <select
            formControlName="position"
            id="position"
            name="position"
            class="bg-card text-accent-foreground select px-3 py-2 border rounded-lg w-full"
            aria-placeholder="Select"
          >
            <option value="">Select</option>
            <option value="g">Guard</option>
            <option value="pf">Power Forward</option>
            <option value="f">Forward</option>
          </select>
        </div>
      </div>

      <!-- Acciones -->
      <div class="flex justify-end gap-3 pt-4">
        <app-button
          variant="destructive"
          size="md"
          type="button"
          (click)="closeModal()"
        >Cancel</app-button>
        <app-button
          variant="primary"
          size="md"
          [disabled]="group.invalid || upsert.isPending()"
          type="submit"
        >
          @if (upsert.isPending()) {
            Cargando...
          } @else {
            Confirm
          }</app-button>
      </div>
    </form>
  </div>
</div>
